* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: thistle;
    margin: 0 1rem;
}

.imagebanner {
    width: 100%;
    background-image: linear-gradient(90deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%);
    height: 300px;
    margin-top: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 44px rgba(137, 43, 226, 0.678);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.searchBar,
.button {
    outline: none;
    border: none;
    padding: 0.4em 0.6em;
    margin: 0.5rem;
    font-weight: 200;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    width: 50%;
    border-radius: 0.2em;
}

.button {
    width: fit-content;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);

    color: white;
}

.button:hover {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 300px);
}

.blogTile {
    transition: all 1s ease-in-out;
    background-color: white;
    padding: 1rem;
    color: black;
    box-shadow: 0 0 12px rgba(0, 0, 255, 0.705);
    border-radius: 0.3em;
    position: relative;
}

.blogTile h4 {
    font-weight: 600;
}

.blogTile p {
    font-size: 0.9em;
    text-align: justify;
    margin-bottom: 0.5rem;
}

.blogTile a {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    color: blue;
    font-size: smaller;
    text-decoration: none;
}

@media only screen and (max-width:700px) {
    .searchBar {
        width: 80%;
    }

    .imagebanner h2 {
        font-size: 1em;
    }
}

.viewOptions {
    font-size: 1.4rem;
    text-align: center;
}

.viewOptions i {
    margin: 2rem;
    margin-top: 3rem;
    cursor: pointer;
}

.viewOptions i:hover {
    color: crimson;
}

#listView {
    display: none;
}